.login {
  display: flex;
  flex-direction: column;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  align-items: center;
}

.login__container {
  max-width: 396px;
}

.login__logo {
  margin: 70px 0 40px;
  max-width: 38px;
  max-height: 38px;
  transition: all ease-in 0.2s;
}

.login__logo:hover {
  opacity: 0.8;
}

.login__logo-link {
  margin: 0;
  display: flex;
  align-self: flex-start;
}

.header__logo:hover {
  opacity: 0.8;
}

.login__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.21;
  margin: 0;
  text-align: left;
}

.login__button {
  cursor: pointer;
  padding: 14px 0;
  margin: 128px 0 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  background: #3456f3;
  border-radius: 3px;
  color: #ffffff;
  min-width: 396px;
  transition: all ease-in 0.2s;
}

.login__button:hover {
  opacity: 0.8;
}

.login__button_disabled {
  color: #C2C2C2;
  background: #F8F8F8;
  cursor:default;
}

.login__button_disabled:hover {
  opacity: 1;
}

.login__link-container {
  display: flex;
  justify-content: center;
  margin: 16px 0 0;
}

.login__link-title {
  margin: 0 6px 0 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #a0a0a0;
}

.login__link {
  text-decoration: none;
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  color: #3456f3;
  transition: opacity ease-in 0.2s;
}

.login__link:hover {
  opacity: 0.7;
}

@media screen and (max-width: 768px) {
  .login__logo {
    margin: 232px 0 40px;
  }

  .login__link-container {
    margin: 16px 0 232px;
  }

  .login__button {
    margin: 134px 0 0;
    min-width: 396px;
  }
}

@media screen and (max-width: 488px) {
  .login__logo {
    margin: 56px 0 50px;
  }

  .login__link-container {
    margin: 14px 0 30px;
  }

  .login__container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .login__button {
    margin: 285px 0 0;
    min-width: 260px;
    font-size: 12px;
  line-height: 1.25;
  }

  .login__title {
    font-size: 24px;
    line-height: 1.21;
    margin: 0 0 40px;
  }

  .login__logo-link {
    align-self: auto;
  }

  .login__link-title {
    font-size: 12px;
    line-height: 1.25;
  }
  
  .login__link {
    font-size: 12px;
    line-height: 1.25;
  }
}